# LP1 Data Analysis Project

### Indian Startup Data Analysis (2018-2021)

### 1. Business Understanding

The Indian startup data provides insights into the growth, funding patterns, success rates, employment impact, and challenges faced by startups in India. Analyzing this data helps identify emerging sectors, attractive regions, and investment trends. It also reveals opportunities to address societal and environmental challenges. Stakeholders can use this information for informed decision-making and support the thriving Indian startup ecosystem.

### Objective

Understanding the Indian startup ecosystem from previous data on funding and investors from 2018 to 2021, and proposing to our team the best way to venture into the market

### Hypothesis

**Null Hypothesis(Ho)**: Amount raised in funding is limited to only a few core sectors

**Alternate Hypothesis(Ha)**: Amount raised in funding is spread widely across multiple sectors (more evenly spread)

### Research Questions

1. Which year has the highest amount of investment?

2. Which sector received the highest amount of funding collectively?

3. Which region has the most startups?

4. Which Region received the most investment

5. Which sector received the lowest amount of funding collectively?

6. What is the average amount of capital invested for the top 5 sectors?

7. Top 10 companies with highest amount invested

### Some Relevant Stakeholders

**.** Startups

**.** Investors

**.** Government

**.** Incubators and Startup Accelerators

**.** Other Founders and Entrepreneurs

**.** Customers

**.** Competitors

### Data Understanding

Here, we explored and familiarized with the Indian startup data collected from 2018 to 2021. This involved examining the structure, quality, and content of the dataset. We further identified the relevant variables, data types, and potential issues, such as missing values or outliers.

## Installations

Packages for accessing remote database with data

In [1]:
%pip install pyodbc  #Fix some structural errors
%pip install python-dotenv

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#Fix'

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\OLUSEYE\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: python-dotenv in c:\users\oluseye\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.0.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\OLUSEYE\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Import other packages/libraries required for the project

In [2]:
# Database connections

import pyodbc 
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import warnings 
warnings.filterwarnings('ignore')

# Data handling

import pandas as pd
import numpy as np

# Data Visualisation

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
import plotly.colors as colors

### Accessing 2020-2021 data from the database

pyodbc: A package for creating connection strings to your remote database
python-dotenv: A package for creating environment variables that will help you hide sensitve configuration informantion such as database credentials and API keys
We already have our 2018 and 2019 data stored in csv files. We want to access the 2020 and 2021 data.

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")


connection_string = f"DRIVER={{SQL Server}};SERVER=tcp:{server};DATABASE={database};UID={username};PWD={password}"

In [4]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [5]:
# Get the cursor
cursor = connection.cursor()

# Retrieve the table names
table_names = cursor.tables(tableType='TABLE')

# Fetch all the table names
tables = table_names.fetchall()

# Print the table names
for table in tables:
    print(table.table_name)

LP1_startup_funding2020
LP1_startup_funding2021
trace_xe_action_map
trace_xe_event_map

In [6]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

query = "SELECT * FROM LP1_startup_funding2020"
data=pd.read_sql(query,connection)

In [7]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [9]:
#save to csv
data.to_csv('LP1_startup_funding2020.csv',index=False)

In [10]:
query= "SELECT * FROM LP1_startup_funding2021"
data_2=pd.read_sql(query,connection)

In [11]:
data_2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [12]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [13]:
#save to csv
data_2.to_csv('LP1_startup_funding2021.csv',index=False)

In [14]:
data_3=pd.read_csv('startup_funding2018.csv')
data_3.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [15]:
data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [16]:
data_4=pd.read_csv('startup_funding2019.csv')
data_4.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [17]:
data_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

### Data Preparation

#### Issues with data

. Columns from different years have different names that must be renamed to be the same

. A year column must be added to all tables to represent the year of investment. This will be important once all tables are merged

. Amount column needs to be standardized to the same currency ($), and converted to the same datatype (float). Symbols and commas should be dropped. We assume that the amount values with no currecny symbol are is dollars.

. Duplicate values in each table should be dropped

. Missing values should be filled with an appropriate value for each column

#### 2018 Data Cleaning

In [18]:
data_df_2018=pd.read_csv('startup_funding2018.csv')
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [19]:
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [20]:
#check for duplicates
data_df_2018.duplicated().sum()

1

In [21]:
#Show all occurencies of duplicated rows
data_df_2018[data_df_2018.duplicated(keep=False)]

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

In [22]:
#Drop duplicates
data_df_2018.drop_duplicates(inplace=True)

In [23]:
data_df_2018['Industry'].unique()

array(['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes', 'Internet',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Industrial Automation',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Financial Services', 'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications', 'Insurance',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food', 'Education',
       'E-Commerce, Fashion, Jewelry, Retail', 'Renewable Energy',
       'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety', 'Transportation',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Hospitality', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—', 'Sports',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition', 'Fashion',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Software',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Manufacturing',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive',
       'Automotive, Retail', 'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Information Technology',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Rental',
       'Travel', 'Consumer', 'B2B, Farming, Marketplace',
       'Wealth Management', 'Biotechnology',
       'Education, Gaming, Training', 'Veterinary',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate', 'Finance',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship', 'Retail',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Human Resources', 'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning', 'Nanotechnology',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources', 'Consumer Electronics',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing', 'Consulting',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Consumer Goods', 'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Farming',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'CleanTech', 'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Banking', 'Food Processing',
       'Apps', 'Marketing',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Agriculture, Mobile',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Financial Services, Professional Services',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Agriculture, Farmers Market, Farming',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Mobile, Software, Travel', 'Cosmetics',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Biotechnology, Health Care, Wellness',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',
       'Financial Services, Venture Capital', 'Accounting, Apps, FinTech',
       'Apps, Mobile, Transportation', 'Reading Apps',
       'Energy, Renewable Energy, Solar',
       'Banking, Financial Services, FinTech', 'Apps, Education, Retail',
       'Electric Vehicle',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, E-Commerce, Marketplace', 'Agriculture',
       'Apps, Information Services, Information Technology',
       'B2B, Marketplace', 'Packaging Services',
       'Computer, Furniture, Software',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Collaboration, Communities, Coworking, Real Estate',
       'Accounting, Banking, Finance',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Automotive, E-Commerce, Information Services',
       'Delivery, Logistics, Transportation',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'E-Commerce, Food and Beverage, Tea',
       'Music, Social Network, Video',
       'Health Care, Pharmaceutical, Wellness',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Hospitality, Information Technology, Travel Accommodations',
       'Biotechnology, Diabetes, Health Care',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Analytics, Apps, Market Research',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'Apps, Mobile, Mobile Apps, Software',
       'News, Publishing, Social Media',
       'Industrial, Industrial Automation',
       'Internet, Mobile Apps, Social Network',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'E-Commerce, Furniture, Interior Design', 'Apps, Events, News',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Logistics, Railroad, Transportation',
       'Dating, Private Social Networking',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Health Care, Health Insurance', 'Energy, Natural Resources',
       'E-Commerce, Education, Health Care',
       'Apps, Health Care, Pharmaceutical',
       'Internet, Knowledge Management',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Banking, Financial Services, Internet',
       'E-Commerce, Health Care, Retail',
       'Child Care, Information Technology',
       'Financial Services, Micro Lending',
       'E-Commerce, Retail, Shopping',
       'Food and Beverage, Snack Food, Tea',
       'Delivery Service, E-Commerce, Logistics',
       'Fashion, Lifestyle, Rental', 'Fantasy Sports, Mobile, Sports',
       'Beauty, Fashion, Wellness', 'Food and Beverage, Restaurants, Tea',
       'Fitness, Sporting Goods, Sports',
       'Food and Beverage, Food Processing, Manufacturing',
       'E-Learning, Internet', 'Eyewear, Internet',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'FinTech, Internet, Payments, Service Industry',
       'B2B, Business Development, Internet, Marketplace',
       'Food and Beverage, Food Delivery, Internet',
       'Biotechnology, Health Care, Pharmaceutical'], dtype=object)

In [24]:
#missing values in industry column
data_df_2018[data_df_2018['Industry'] == '-'].head()

Empty DataFrame
Columns: [Company Name, Industry, Round/Series, Amount, Location, About Company]
Index: []

In [25]:
#Replace missing values with np.nan
data_df_2018['Industry']=data_df_2018['Industry'].replace('-',np.nan)

In [26]:
# we want to simplify the industry column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2018['Industry'] = data_df_2018['Industry'].str.split(',').str[0].str.replace("'", "", regex=True)

In [27]:
data_df_2018['Industry'].sort_values()

139    3D Printing
446     Accounting
422     Accounting
17      Accounting
366    Advertising
          ...
294              —
472              —
258              —
238              —
153              —
Name: Industry, Length: 525, dtype: object

In [28]:
pd.set_option("display.max_colwidth", None)
data_df_2018[data_df_2018['Industry'] == 'Android']

,Company Name,Industry,Round/Series,Amount,Location,About Company
265,edureka!,Android,Series A,2000000,"Bangalore, Karnataka, India","Edureka is the fastest growing online learning platform that offers live, instructor-led courses for professionals from various industries."

In [29]:
# Fix some structural errors (done through observation and individual inspection)

data_df_2018['Industry'].replace('Android','E-Learning',inplace =True)
data_df_2018['Industry'].replace('Wellness','Health Care',inplace =True)
data_df_2018['Industry'].replace('Basketball','Apps',inplace =True) 
data_df_2018['Industry'].replace('Catering','Food Delivery',inplace =True)
data_df_2018['Industry'].replace('Cooking','Food Delivery',inplace =True)
data_df_2018['Industry'].replace('Crowdsourcing','Crowdfunding',inplace =True)

In [30]:
# checking amount column for different values

data_df_2018['Amount'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [31]:
# Missing values in Amount Column

data_df_2018[data_df_2018['Amount'] == '—'].head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
4,Eunimart,E-Commerce Platforms,Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants to create a difference by selling globally.
8,Freightwalla,Information Services,Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder thats helps you manage supply chain by providing online tools including instant quotations.
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment application and point-of-sale device
10,BizCrum Infotech Pvt. Ltd.,B2B,Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, stickers & GIFs suggestions based on the typed words across chat platforms."

In [32]:
# Replace Values

data_df_2018['Amount'].replace("—", np.nan, inplace = True, regex=True)
data_df_2018['Amount'].replace("[,$]", "", inplace = True, regex=True)

In [33]:
# we must convert rupees to dollars
## create new columns to store INR values and $ values
## rsplit the 'Amount' using '₹' as the delimiter. We only want values with'₹' from the right.
data_df_2018['Amount (₹)'] = data_df_2018['Amount'].str.rsplit('₹', n = 2).str[1]

# Convert to float and fill any missing (NaN) values wit 0
data_df_2018['Amount (₹)'] = data_df_2018['Amount (₹)'].apply(float).fillna(0)

# Convert the INR values to USD
data_df_2018['Amount ($)'] = data_df_2018['Amount (₹)'] * 0.0146 # Average exchange rate in 2018

In [34]:
data_df_2018.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Amount (₹),Amount ($)
521,Udaan,B2B,Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specifically for small and medium businesses in India.",0.0,0.0
522,Happyeasygo Group,Tourism,Series A,NaN,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0.0
523,Mombay,Food and Beverage,Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives to start household food business and avail everyone with their homemade healthy dishes.,0.0,0.0
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop software to service a range of industry requirements.,35000000.0,511000.0
525,Netmeds,Biotechnology,Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,0.0

In [35]:
# Replace 0 values with np.nan in the converted rupee values
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].replace(0, np.nan)

# Fill nan values in USD amount column with values in Amount column
data_df_2018['Amount ($)'] = data_df_2018['Amount ($)'].fillna(data_df_2018['Amount'])

# drop Amount column and INR column
data_df_2018.drop(['Amount','Amount (₹)'], axis = 1, inplace = True)

In [36]:
data_df_2018['Amount ($)'].unique()

array(['250000', 584000.0, 949000.0, '2000000', nan, '1600000', 233600.0,
       730000.0, 1460000.0, '150000', '1100000', 7300.0, '6000000',
       '650000', 511000.0, 934400.0, 292000.0, '1000000', '5000000',
       '4000000', 438000.0, '2800000', '1700000', '1300000', 73000.0,
       182500.0, 219000.0, '500000', 1518400.0, 657000.0, '13400000',
       365000.0, 385440.0, 116800.0, 876.0, '9000000', '100000', '20000',
       '120000', 496400.0, 4993200.0, '143145', 8760000.0, '742000000',
       14600000.0, 29200000.0, '3980000', '10000', 1460.0, 3650000.0,
       '1000000000', '7000000', '35000000', 8030000.0, '28500000',
       3504000.0, 1752000.0, '2400000', '30000000', 36500000.0,
       '23000000', '11000000', 642400.0, '3240000', 876000.0, '540000000',
       9490000.0, 23360000.0, '900000', '10000000', '1500000', 1022000.0,
       '14000000', 1496500.0, '100000000', 17520.0, 75920000.0, '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', 138700.0, '300000', '6830000', '200000', 2190000.0,
       '4300000', '364846', '400000', 102200.0, 20440.0, 146000.0,
       328500.0, '13200000', '50000', 2046920.0, '3000000', '1250000',
       '180000', 280320.0, 1503800.0, '4200000', '175000', '1450000',
       2920.0, '4500000', '600000', 242360.0, 175200.0, '15000000',
       481800.0, '125000', '130000', 509540.0, 1051200.0, '17200000',
       467200.0, '3500000', 1971000.0, '12000000', '40000000', '50000000',
       22484000.0, 2044000.0, '41900000', 20586000.0, '3530000',
       '3300000', 8468000.0, 525600.0, 4964000.0, '210000000', '37680000',
       7446000.0, 32120000.0, '22000000', '70000', 224723200.0,
       292000000.0, 58400000.0, '185000000', '65000000', 2409000.0,
       '700000', 3066000.0, 29632160.0, '75000000', 1168000.0, '1760000',
       '2700000', 4088000.0, 11680000.0, '750000', '2500000', '80000000',
       '25000000', 10658000.0, 5840000.0, '3700000', '5600000', 3796000.0,
       '99230000', '70000000', '40000', '550000', '365000000', 127750.0,
       1138800.0, '28000000', 3854400.0, 16498000.0, 11826000.0,
       20440000.0, '14900000', '225000000', '7500'], dtype=object)

In [37]:
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   525 non-null    object
 1   Industry       525 non-null    object
 2   Round/Series   525 non-null    object
 3   Location       525 non-null    object
 4   About Company  525 non-null    object
 5   Amount ($)     377 non-null    object
dtypes: object(6)
memory usage: 28.7+ KB

In [38]:
# add a year column

data_df_2018['Year'] = 2018

In [39]:
data_df_2018['Location'].value_counts()

Location
Bangalore, Karnataka, India         101
Mumbai, Maharashtra, India           94
Bengaluru, Karnataka, India          55
Gurgaon, Haryana, India              52
New Delhi, Delhi, India              51
Pune, Maharashtra, India             20
Chennai, Tamil Nadu, India           19
Hyderabad, Andhra Pradesh, India     18
Delhi, Delhi, India                  16
Noida, Uttar Pradesh, India          15
Haryana, Haryana, India              11
Jaipur, Rajasthan, India              9
Ahmedabad, Gujarat, India             6
Kolkata, West Bengal, India           6
Bangalore City, Karnataka, India      5
Indore, Madhya Pradesh, India         4
India, Asia                           4
Kormangala, Karnataka, India          3
Ghaziabad, Uttar Pradesh, India       2
Kochi, Kerala, India                  2
Bhopal, Madhya Pradesh, India         2
Thane, Maharashtra, India             2
Jodhpur, Rajasthan, India             1
Powai, Assam, India                   1
Andheri, Maharashtra, India           1
Mylapore, Tamil Nadu, India           1
Kalpakkam, Tamil Nadu, India          1
Guntur, Andhra Pradesh, India         1
Coimbatore, Tamil Nadu, India         1
Worli, Maharashtra, India             1
Alleppey, Kerala, India               1
Chandigarh, Chandigarh, India         1
Guindy, Tamil Nadu, India             1
Uttar Pradesh, India, Asia            1
Trivandrum, Kerala, India             1
Ernakulam, Kerala, India              1
Kanpur, Uttar Pradesh, India          1
Kannur, Kerala, India                 1
Alwar, Rajasthan, India               1
Margão, Goa, India                    1
Belgaum, Karnataka, India             1
Kalkaji, Delhi, India                 1
Anand, Gujarat, India                 1
Kota, Rajasthan, India                1
Faridabad, Haryana, India             1
Cochin, Kerala, India                 1
Hubli, Karnataka, India               1
Azadpur, Delhi, India                 1
Mohali, Punjab, India                 1
Lucknow, Uttar Pradesh, India         1
Name: count, dtype: int64

In [40]:
# we want to simplify the location column
## Split values with a comma delimiter, select only the first element from the resulting list of substrings
## remove single quotes, since it is a string


data_df_2018['Location'] = data_df_2018['Location'].str.split(',').str[0].replace("'","",regex=True)

In [41]:
data_df_2018['Round/Series'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [42]:
#replace missing/unkown values with np.nan

data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Venture - Series Unknown',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',np.nan)
data_df_2018['Round/Series']=data_df_2018['Round/Series'].replace('Undisclosed',np.nan)

In [43]:
# Rename Columns to match other Data tables
data_df_2018.rename(columns = {'Company Name': 'Company/Brand', 'Industry': 'Sector', 
                               'Round/Series':'Stage', 'Location': 'HeadQuarter', 'About Company':'What it does', 'Amount ($)': 'Amount($)'}, inplace=True)
data_df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 525 entries, 0 to 525
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  525 non-null    object
 1   Sector         525 non-null    object
 2   Stage          485 non-null    object
 3   HeadQuarter    525 non-null    object
 4   What it does   525 non-null    object
 5   Amount($)      377 non-null    object
 6   Year           525 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.8+ KB

#### 2019 Data Cleaning

In [44]:
data_df_2019 = pd.read_csv('startup_funding2019.csv')
data_df_2019.tail()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
84,Infra.Market,NaN,Mumbai,Infratech,"It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing","Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Partners, Dhruv Agarwala","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, SoftBank","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service providers,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh Karwa",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mohit Gupta","Norwest Venture Partners, General Catalyst, Fundamentum, Accel Partners","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [45]:
data_df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [46]:
# check duplicates

data_df_2019.duplicated().sum()

0

In [47]:
# drop unwanted columns (columns not present in 2018 dataset)

data_df_2019.drop(['Founded', 'Founders', 'Investor'], axis = 1, inplace = True)

In [48]:
# add year column

data_df_2019['Year']=2019

In [49]:
data_df_2019['Amount($)'].value_counts()

Amount($)
Undisclosed     12
$5,000,000       6
$1,500,000       4
$6,000,000       4
$1,000,000       4
$30,000,000      3
$20,000,000      3
$50,000,000      3
$4,000,000       3
$5,500,000       3
$26,000,000      2
$2,000,000       2
$12,000,000      2
$100,000         2
$5,700,000       1
$693,000,000     1
$4,800,000       1
$120,000,000     1
$311,000,000     1
$6,800,000       1
$36,000,000      1
$2,800,000       1
$220,000         1
$600,000         1
$7,000,000       1
$2,100,000       1
$70,000,000      1
$60,000,000      1
$8,000,000       1
$25,000,000      1
$6,300,000       1
$100,000,000     1
$11,000,000      1
$28,000,000      1
$275,000,000     1
$22,000,000      1
$140,500         1
$540,000,000     1
$15,000,000      1
$182,700         1
$15,500,000      1
$400,000         1
$2,500,000       1
$140,000         1
$230,000,000     1
$49,400,000      1
$32,000,000      1
$150,000,000     1
$150,000         1
$33,000,000      1
Name: count, dtype: int64

In [50]:
# Replace values

data_df_2019['Amount($)'].replace('Undisclosed', np.nan, inplace = True, regex=True)
data_df_2019['Amount($)'].replace("[,$]", "", inplace = True, regex=True)

In [51]:
data_df_2019['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Pune', 'Bangalore',
       'Noida', 'Delhi', 'Ahmedabad', 'Gurugram', 'Haryana', 'Chandigarh',
       'Jaipur', 'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad',
       'Rajasthan'], dtype=object)

In [52]:
data_df_2019['Sector'].value_counts()

Sector
Edtech                          7
Fintech                         5
AgriTech                        4
Technology                      4
SaaS                            4
Automobile                      3
E-commerce                      3
Logistics                       3
Food                            2
Foodtech                        2
Accomodation                    2
Automotive tech                 2
IoT                             2
AI                              2
E-marketplace                   2
Ecommerce                       1
Cybersecurity                   1
Mutual Funds                    1
Food & tech                     1
Legal tech                      1
Sports                          1
B2B Supply Chain                1
Healthtech                      1
Yoga & wellness                 1
Virtual Banking                 1
Transportation                  1
Transport & Rentals             1
Marketing & Customer loyalty    1
Infratech                       1
Hospitality                     1
Automobile & Technology         1
Games                           1
Food & Nutrition                1
Jewellery                       1
Safety tech                     1
Interior design                 1
AI & Tech                       1
E-commerce & AR                 1
HR tech                         1
Food tech                       1
Health                          1
Healthcare                      1
Pharmaceutical                  1
B2B                             1
Insurance technology            1
Robotics & AI                   1
Travel                          1
Manufacturing                   1
Social Media                    1
E-Sports                        1
Cosmetics                       1
Banking                         1
Name: count, dtype: int64

In [53]:
# Fix some structural errors (done through observation and individual inspection)

data_df_2018['Sector'].replace('Ecommerce','E-commerce',inplace =True)
data_df_2018['Sector'].replace('Food & tech','Foodtech',inplace =True)
data_df_2018['Sector'].replace('Food tech','Foodtech',inplace =True)

In [54]:
data_df_2019['Stage'].value_counts()

Stage
Series A         10
Pre series A      8
Series B          8
Series D          4
Series C          3
Fresh funding     1
Series G          1
Post series A     1
Seed funding      1
Seed fund         1
Series E          1
Series F          1
Series B+         1
Seed round        1
Pre-series A      1
Name: count, dtype: int64

In [55]:
# Fix some structural errors 

data_df_2018['Stage'].replace('Pre-series A','Pre series A',inplace =True)
data_df_2018['Stage'].replace('Seed fund','Seed',inplace =True)
data_df_2018['Stage'].replace('Seed funding','Seed',inplace =True)
data_df_2018['Stage'].replace('Seed round','Seed',inplace =True)

In [56]:
#Merge 2018 and 2019 Data

data_new = pd.concat([data_df_2018, data_df_2019], ignore_index=True)
data_new.tail()

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
609,Infra.Market,Infratech,Series A,Mumbai,"It connects client requirements to their supply chain infrastructure for ease of ordering, tracking and manufacturing",20000000,2019
610,Oyo,Hospitality,NaN,Gurugram,Provides rooms for comfortable stay,693000000,2019
611,GoMechanic,Automobile & Technology,Series B,Delhi,Find automobile repair and maintenance service providers,5000000,2019
612,Spinny,Automobile,NaN,Delhi,Online car retailer,50000000,2019
613,Ess Kay Fincorp,Banking,NaN,Rajasthan,Organised Non-Banking Finance Company,33000000,2019

In [57]:
data_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  614 non-null    object
 1   Sector         609 non-null    object
 2   Stage          528 non-null    object
 3   HeadQuarter    595 non-null    object
 4   What it does   614 non-null    object
 5   Amount($)      454 non-null    object
 6   Year           614 non-null    int64
dtypes: int64(1), object(6)
memory usage: 33.7+ KB

2020 Data Cleaning

In [58]:
data_df_2020 = pd.read_csv('LP1_startup_funding2020.csv')
data_df_2020.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career guidance,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,NaN,NaN
1051,EpiFi,NaN,NaN,Fintech,It offers customers with a single interface for all their financial and banking mandates,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,NaN
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,NaN,NaN
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,NaN
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,NaN

In [59]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [60]:
# check duplicates

data_df_2020.duplicated().sum()

3

In [61]:
# show all occurences of duplicated rows

data_df_2020[data_df_2020.duplicated(keep=False)]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
120,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different beauty and wellness products.,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
129,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by improving the productivity of Indian cattle with better quality feed.,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,NaN
145,Krimanshi,2015.0,Jodhpur,Biotechnology company,Krimanshi aims to increase rural income by improving the productivity of Indian cattle with better quality feed.,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,NaN
205,Nykaa,2012.0,Mumbai,Cosmetics,Nykaa is an online marketplace for different beauty and wellness products.,Falguni Nayar,"Alia Bhatt, Katrina Kaif",NaN,NaN,NaN
326,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tutoring firm,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,NaN,NaN
362,Byju’s,2011.0,Bangalore,EdTech,An Indian educational technology and online tutoring firm,Byju Raveendran,"Owl Ventures, Tiger Global Management",500000000.0,NaN,NaN

In [62]:
# Drop duplicates

data_df_2020.drop_duplicates(inplace = True)

In [63]:
# drop columns

data_df_2020.drop(['Founded', 'Founders', 'Investor', 'column10'], axis=1, inplace=True)

In [64]:
# add year column

data_df_2020['Year']=2020

In [65]:
# Rename Columns to match other Data
data_df_2020.rename(columns = {'Company_Brand': 'Company/Brand', 'What_it_does': 'What it does',
                                'Amount': 'Amount($)'}, inplace=True)

In [66]:
data_df_2020['HeadQuarter'].value_counts()

HeadQuarter
Bangalore                                                   316
Mumbai                                                      164
Gurugram                                                     79
Delhi                                                        62
Chennai                                                      43
                                                           ...
Newcastle Upon Tyne, Newcastle upon Tyne, United Kingdom      1
Shanghai, China                                               1
Jiaxing, Zhejiang, China                                      1
Rajastan                                                      1
Sydney, New South Wales, Australia                            1
Name: count, Length: 77, dtype: int64

In [67]:
# we want to simplify some of the values the HeadQuarter column
## Split values with a comma delimiter; select only the first element from the resulting list of substrings
## remove single quotes, since it is a string

data_df_2020['HeadQuarter'] = data_df_2020['HeadQuarter'].str.split(',').str[0].str.replace("'", "", regex=True)

In [68]:
# Fix some structural errors

data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True)
data_df_2020['HeadQuarter'].replace('San Francisco Bay Area',
                                    'San Francisco',inplace =True)
data_df_2020['HeadQuarter'].replace('San Franciscao','San Francisco',inplace =True)
data_df_2020['HeadQuarter'].replace('Banglore','Bangalore',inplace =True)
data_df_2020['HeadQuarter'].replace('Hyderebad','Hyderabad',inplace =True)

In [69]:
data_df_2020['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       nan, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

In [70]:
data_df_2020[data_df_2020['Sector']== 'Supply chain, Agritech']

,Company/Brand,HeadQuarter,Sector,What it does,Amount($),Stage,Year
705,Intello Labs,Gurugram,"Supply chain, Agritech",Standardisation and Quality control of fruits & vegetables,5900000.0,Series A,2020

In [71]:
# Fix some structural errors (manual observation)

data_df_2020['Sector'].replace('AI startup','AI',inplace =True)
data_df_2020['Sector'].replace('AI Startup','AI',inplace =True)
data_df_2020['Sector'].replace('AI Company','AI',inplace =True)
data_df_2020['Sector'].replace('AR/VR startup','AR/VR',inplace =True)
data_df_2020['Sector'].replace('Agri tech','AgriTech',inplace =True)
data_df_2020['Sector'].replace('Agritech','AgriTech',inplace =True)
data_df_2020['Sector'].replace('Agritech startup','AgriTech',inplace =True)
data_df_2020['Sector'].replace('Agritech/Commerce','AgriTech',inplace =True)
data_df_2020['Sector'].replace('Automobiles','Automobile',inplace =True)
data_df_2020['Sector'].replace('Automotive Startup','Automotive company',inplace =True)
data_df_2020['Sector'].replace('Beverages','Beverage',inplace =True)
data_df_2020['Sector'].replace('Biotechnology company','Biotech',inplace =True)
data_df_2020['Sector'].replace('Blockchain startup','Blockchain',inplace =True)
data_df_2020['Sector'].replace('Co-working Startup','Co-working',inplace =True)
data_df_2020['Sector'].replace('Coworking','Co-working',inplace =True)
data_df_2020['Sector'].replace('Content marketplace','Content Marktplace',inplace =True)
data_df_2020['Sector'].replace('Deep Tech','Deeptech',inplace =True)
data_df_2020['Sector'].replace('EV','EV startup',inplace =True)
data_df_2020['Sector'].replace('Ecommerce','E-commerce',inplace =True)
data_df_2020['Sector'].replace('EdTech Startup','EdTech',inplace =True)
data_df_2020['Sector'].replace('EdtTech','EdTech',inplace =True)
data_df_2020['Sector'].replace('Edtech','EdTech',inplace =True)
data_df_2020['Sector'].replace('Fintech','FinTech',inplace =True)
data_df_2020['Sector'].replace('Food devlivery','Food delivery',inplace =True)
data_df_2020['Sector'].replace('Food diet','FoodTech',inplace =True)
data_df_2020['Sector'].replace('Food tech','FoodTech',inplace =True)
data_df_2020['Sector'].replace('Foodtech','FoodTech',inplace =True)
data_df_2020['Sector'].replace('HR tech','HR Tech',inplace =True)
data_df_2020['Sector'].replace('HR Tech startup','HR Tech',inplace =True)
data_df_2020['Sector'].replace('Healthtech','HealthTech',inplace =True)
data_df_2020['Sector'].replace('HeathTech','HealthTech',inplace =True)
data_df_2020['Sector'].replace('Insurtech','InsureTech',inplace =True)
data_df_2020['Sector'].replace('Insurance technology','InsureTech',inplace =True)
data_df_2020['Sector'].replace('IoT startup','IoT',inplace =True)
data_df_2020['Sector'].replace('Nutrition tech','Nutrition Tech',inplace =True)
data_df_2020['Sector'].replace('Reatil startup','Retail startup',inplace =True)
data_df_2020['Sector'].replace('SaaS startup','SaaS',inplace =True)
data_df_2020['Sector'].replace('SaaS  startup','SaaS',inplace =True)
data_df_2020['Sector'].replace('Sles and marketing','Sales and marketing',inplace =True)
data_df_2020['Sector'].replace('Social media','Social Media',inplace =True)
data_df_2020['Sector'].replace('Software company','Software Company',inplace =True)
data_df_2020['Sector'].replace('Solar solution','Solar Solution',inplace =True)
data_df_2020['Sector'].replace('Spacetech','SpaceTech',inplace =True)
data_df_2020['Sector'].replace('Supply chain, Agritech','Supply chain',inplace =True)
data_df_2020['Sector'].replace('Tech company','Tech Startup',inplace =True)
data_df_2020['Sector'].replace('Travel tech','TravelTech',inplace =True)

In [72]:
# values in amount column

data_df_2020['Amount($)'] = data_df_2020['Amount($)'].astype(str)
data_df_2020['Amount($)'].unique()

array(['200000.0', '100000.0', 'nan', '400000.0', '340000.0', '600000.0',
       '45000000.0', '1000000.0', '2000000.0', '1200000.0', '660000000.0',
       '120000.0', '7500000.0', '5000000.0', '500000.0', '3000000.0',
       '10000000.0', '145000000.0', '100000000.0', '21000000.0',
       '4000000.0', '20000000.0', '560000.0', '275000.0', '4500000.0',
       '15000000.0', '390000000.0', '7000000.0', '5100000.0',
       '700000000.0', '2300000.0', '700000.0', '19000000.0', '9000000.0',
       '40000000.0', '750000.0', '1500000.0', '7800000.0', '50000000.0',
       '80000000.0', '30000000.0', '1700000.0', '2500000.0', '40000.0',
       '33000000.0', '35000000.0', '300000.0', '25000000.0', '3500000.0',
       '200000000.0', '6000000.0', '1300000.0', '4100000.0', '575000.0',
       '800000.0', '28000000.0', '18000000.0', '3200000.0', '900000.0',
       '250000.0', '4700000.0', '75000000.0', '8000000.0', '121000000.0',
       '55000000.0', '3300000.0', '11000000.0', '16000000.0', '5400000.0',
       '150000000.0', '4200000.0', '22000000.0', '52000000.0',
       '1100000.0', '118000000.0', '1600000.0', '18500000.0',
       '70000000000.0', '800000000.0', '400000000.0', '150000.0',
       '176000000.0', '60000000.0', '470000.0', '240000.0',
       '3000000000.0', '74000000.0', '62000000.0', '2100000.0',
       '500000000.0', '12500000.0', '2200000000.0', '5060000.0',
       '225000000.0', '24700000.0', '7700000.0', '19067328.0',
       '51000000.0', '115000.0', '54000.0', '20000.0', '803146.0',
       '238000.0', '10220000.0', '1020000.0', '12000000.0', '13400000.0',
       '170000000.0', '2900000.0', '543000.0', '90000000.0', '3400000.0',
       '23000000.0', '8090000.0', '1030000.0', '5040000.0', '360000.0',
       '1400000.0', '650000.0', '54000000.0', '42500000.0', '11370000.0',
       '325000.0', '410000.0', '450000.0', '682000.0', '4050000.0',
       '1050000.0', '1080000.0', '4300000.0', '6800000.0', '2110000.0',
       '764000.0', '603000.0', '409000.0', '292000.0', '286000.0',
       '136000.0', '546000.0', '887000.0', '43000.0', '40900.0',
       '2200000.0', '5660000.0', '350000.0', '110000.0', '122000000.0',
       '11635000.0', '2800000.0', '1065000.0', '669000.0', '16076000.0',
       '649600.0', '6700000.0', '220000.0', '266500.0', '2879000.0',
       '26500000.0', '351000.0', '46761000.0', '175000.0', '11241000.0',
       '804000.0', '1340000.0', '467000.0', '133000.0', '3823000.0',
       '934000.0', '293000.0', '198000.0', '927000.0', '971000.0',
       '3060000.0', '1862000.0', '232000.0', '2888000.0', '1328000.0',
       '15500000.0', '56000000.0', '2250000.0', '16753000.0', '3700000.0',
       '1470000.0', '530000.0', '267000.0', '3344000.0', '7200000.0',
       '2743000.0', '6082000.0', '6609000.0', '27700000.0', '5940000.0',
       '3964000.0', '5500000.0', '197000.0', '4327000.0', '459000.0',
       '3937000.0', '1313500.0', '229800.0', '5305000.0', '264000.0',
       '1750000.0', '5967000.0', '2980000.0', '323000.0', '1326000.0',
       '27000000.0', '5200000.0', '2530000.0', '792000.0', '11363000.0',
       '1715000.0', '329000.0', '5271000.0', '8700000.0', '3226000.0',
       '5900000.0', '44000000.0', '3879000.0', '13000000.0', '8800000.0',
       '9500000.0', '920000.0', '35600000.0', '9400000.0', '790000.0',
       '480000.0', '160000.0', '8200000.0', '4257000.0', '1410000.0',
       '349800.0', '786000.0', '2004000.0', '123000000.0', '248000.0',
       '24000000.0', '14259000.0', '24500000.0', '3800000.0',
       '18370000.0', '68525000.0', '4800000.0', '1834000.0', '23850000.0',
       '43000000.0', '21600000.0', '4598000.0', '13137000.0',
       '115000000.0', '3900000.0', '670000.0', '8500000.0', '3148000.0',
       '2600000.0', '4049500.0', '10500000.0', '6500000.0', '43700000.0',
       '13800000.0', '306900.0', '420000.0', '627300.0', '113000000.0',
       '32000000.0', '110000000.0', '1397000.0', '448500.0', '7975700.0',
       '330000.0', '5600000.0', '1402000.0', '21500000.0', '296000000.0',
       '4900000.0', '1402400.0', '12618300.0', '9900000.0', '982530.0',
       '70185200.0', '210000000.0', '84000000.0', '39000000.0',
       '2700000.0', '1403400.0', '105000000.0', '103000000.0', '281300.0',
       '12700.0', '25000.0', '97500000.0', '507000.0', '8400000.0',
       '18300000.0', '125000000.0', '181000.0', '280000.0', '14700000.0',
       '13200000.0', '8043000.0'], dtype=object)

In [73]:
data_df_2020["Amount($)"].replace("nan", np.nan, inplace = True, regex=True)

In [74]:
data_df_2020['Stage'].unique()

array([nan, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [75]:
data_df_2020['Stage'].replace('Pre seed round','Pre seed Round',inplace =True)
data_df_2020['Stage'].replace('Pre series A','Pre Series A',inplace =True)
data_df_2020['Stage'].replace('Pre- series A','Pre Series A',inplace =True)
data_df_2020['Stage'].replace('Pre-seed','Pre-Seed',inplace =True)
data_df_2020['Stage'].replace('Pre-series A','Pre Series A',inplace =True)
data_df_2020['Stage'].replace('Pre series B','Pre Series B',inplace =True)
data_df_2020['Stage'].replace('Pre-Series B','Pre Series B',inplace =True)
data_df_2020['Stage'].replace('Pre-series B','Pre Series B',inplace =True)
data_df_2020['Stage'].replace('Pre series C','Pre Series C',inplace =True)
data_df_2020['Stage'].replace('Pre-series C','Pre Series C',inplace =True)
data_df_2020['Stage'].replace('Seed A','Seed',inplace =True)
data_df_2020['Stage'].replace('Seed Funding','Seed',inplace =True)
data_df_2020['Stage'].replace('Seed Round','Seed',inplace =True)
data_df_2020['Stage'].replace('Seed round','Seed',inplace =True)
data_df_2020['Stage'].replace('Seed funding','Seed',inplace =True)
data_df_2020['Stage'].replace('Seed Investment','Seed',inplace =True)

In [76]:
data_df_2020['Stage'].unique()

array([nan, 'Pre-Seed', 'Seed', 'Pre Series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre Series C', 'Pre Series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F', 'Edge',
       'Series H', 'Series A-1', 'Pre-seed Round',
       'Seed Round & Series A', 'Pre seed Round', 'Angel Round',
       'Pre series A1', 'Series E2', 'Bridge Round', 'Series D1',
       'Mid series', 'Series C, D'], dtype=object)

In [77]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1052 non-null   object
 1   HeadQuarter    958 non-null    object
 2   Sector         1039 non-null   object
 3   What it does   1052 non-null   object
 4   Amount($)      799 non-null    object
 5   Stage          590 non-null    object
 6   Year           1052 non-null   int64
dtypes: int64(1), object(6)
memory usage: 65.8+ KB

2021 Data Cleaning

In [78]:
data_df_2021 = pd.read_csv('LP1_startup_funding2021.csv')
data_df_2021.tail()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically integrated online-first tea brands.,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potential students.,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack financial services platform for small town India,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [79]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [80]:
data_df_2021.duplicated().sum()

19

In [81]:
# show all occurences of duplicated rows

data_df_2021[data_df_2021.duplicated]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
107,Curefoods,2020.0,Bangalore,Food & Beverages,Healthy & nutritious foods and cold pressed juices produced in Edinburgh. Currently distributing wholesale within the Edinburgh region.,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal",$13000000,NaN
109,Bewakoof,2012.0,Mumbai,Apparel & Fashion,"Bewakoof is a lifestyle fashion brand that makes creative, distinctive fashion for the trendy, contemporary Indian.",Prabhkiran Singh,InvestCorp,$8000000,NaN
111,FanPlay,2020.0,Computer Games,Computer Games,A real money game app specializing in trivia games,YC W21,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000
117,Advantage Club,2014.0,Mumbai,HRTech,"Advantage Club is India's largest employee engagement platform, Provide end to end employee benefit management with state of the art products like:","Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah",$1700000,NaN
119,Ruptok,2020.0,New Delhi,FinTech,"Ruptok fintech Pvt. Ltd. is an online gold loan service provider , with attractive interests rate .",Ankur Gupta,Eclear Leasing,$1000000,NaN
243,Trinkerr,2021.0,Bangalore,Capital Markets,Trinkerr is India's first social trading platform.,"Manvendra Singh, Gaurav Agarwal",Accel India,$6600000,Series A
244,Zorro,2021.0,Gurugram,Social network,Pseudonymous social network platform,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose",$32000000,Seed
245,Ultraviolette,2021.0,Bangalore,Automotive,Create and Inspire the future of sustainable urban transportation through Accelerated Innovation.,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho",$150000000,Series C
246,NephroPlus,2009.0,Hyderabad,Hospital & Health Care,"A vision and passion of redefining healthcare delivery in India in 2010, NephroPlus today is India’s largest network of dialysis centres.",Vikram Vuppala,IIFL Asset Management,$24000000,Series E
247,Unremot,2020.0,Bangalore,Information Technology & Services,Unremot is a personal office for consultants!,Shiju Radhakrishnan,Inflection Point Ventures,$700000,Seed
248,FanAnywhere,2021.0,Bangalore,Financial Services,Celebrity NFT platform,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital",$Undisclosed,Seed
249,PingoLearn,2021.0,Pune,E-learning,PingoLearn offers language learning courses with snackable videos.,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate",$200000,NaN
250,Spry,2021.0,Mumbai,Music,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING VIDEOS,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover",$1500000,Seed
251,Enmovil,2015.0,Hyderabad,Information Technology & Services,Enmovil delivers a Business Intelligence Platform driven by a connected asset ecosystem that enables organizations to maximise their operational efficiency.,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund,$1300000,Pre-series A
252,ASQI Advisors,2019.0,Mumbai,Financial Services,Bringing Blockchain technology intro mainstream finance!,Swapnil Pawar,Founders Room Capital,$1000000,Pre-series A
253,Insurance Samadhan,2018.0,New Delhi,Insurance,The insurance industry will help in representation with the insurance companies and will help to find adequate redressal for grievances.,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL",$725000,Pre-series A
254,Evenflow Brands,2020.0,Mumbai,Consumer Goods,Identify and partner with the upcoming eCommerce-1st brands that sell on marketplaces and have a successful track record of positive reviews & ratings,"Utsav Agarwal, Pulkit Chhabra",NaN,$500000,NaN
255,MasterChow,2020.0,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,"Vidur Kataria, Sidhanth Madan",WEH Ventures,$461000,Seed
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Morgan Stanley Private Equity Asia,$22000000,Series C,NaN

In [82]:
data_df_2021.drop_duplicates(inplace=True)

In [83]:
#drop columns

data_df_2021.drop(['Founded', 'Founders', 'Investor'], axis=1, inplace=True)

In [84]:
# add year column

data_df_2021['Year']=2021

In [85]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   HeadQuarter    1189 non-null   object
 2   Sector         1190 non-null   object
 3   What_it_does   1190 non-null   object
 4   Amount         1187 non-null   object
 5   Stage          769 non-null    object
 6   Year           1190 non-null   int64
dtypes: int64(1), object(6)
memory usage: 74.4+ KB

In [86]:
data_df_2021['HeadQuarter'].value_counts()

HeadQuarter
Bangalore             421
Mumbai                198
Gurugram              154
New Delhi             142
Pune                   46
                     ...
Thiruvananthapuram      1
Faridabad               1
Roorkee                 1
Ambernath               1
Gandhinagar             1
Name: count, Length: 70, dtype: int64

In [87]:
data_df_2021[data_df_2021['HeadQuarter']=='Online Media\t#REF!']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
1100,Sochcast,Online Media\t#REF!,Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience,"CA Harvinderjit Singh Bhatia, Garima Surana, Anil Srivatsa",NaN,NaN,2021

In [88]:
data_df_2021[data_df_2021['HeadQuarter']=='Information Technology & Services']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
1176,Peak,Information Technology & Services,"Manchester, Greater Manchester",Peak helps the world's smartest companies put the power of AI at the center of all commercial decision making with Decision Intelligence,$75000000,Series C,2021

In [89]:
data_df_2021[data_df_2021['HeadQuarter']=='Computer Games']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,Computer Games,Computer Games,A real money game app specializing in trivia games,Upsparks,$1200000,2021

In [90]:
data_df_2021[data_df_2021['HeadQuarter']=='Food & Beverages']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
241,MasterChow,Food & Beverages,Hauz Khas,A ready-to-cook Asian cuisine brand,$461000,Seed,2021

In [91]:
data_df_2021[data_df_2021['HeadQuarter']=='Pharmaceuticals\t#REF!']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
242,Fullife Healthcare,Pharmaceuticals\t#REF!,Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.,Varun Khanna,Series C,NaN,2021

In [92]:
data_df_2021['HeadQuarter'].replace('Faridabad, Haryana','Faridabad',inplace =True)
data_df_2021['HeadQuarter'].replace('Mountain View, CA','California',inplace =True) 
data_df_2021['HeadQuarter'].replace('Online Media\t#REF!',np.nan,inplace =True)
data_df_2021['HeadQuarter'].replace('Information Technology & Services','Manchester',inplace =True)
data_df_2021['HeadQuarter'].replace('Small Towns, Andhra Pradesh','Andhra Pradesh',inplace =True)
data_df_2021['HeadQuarter'].replace('Computer Games',np.nan,inplace =True)
data_df_2021['HeadQuarter'].replace('Food & Beverages',np.nan,inplace =True)
data_df_2021['HeadQuarter'].replace('Pharmaceuticals\t#REF!',np.nan,inplace =True)
data_df_2021['HeadQuarter'].replace('Gurugram\t#REF!','Gurugram',inplace =True)

In [93]:
data_df_2021['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting'], dtype=object)

In [94]:
data_df_2021['Sector'].replace('AI company','AI',inplace =True)
data_df_2021['Sector'].replace('AI startup','AI',inplace =True)
data_df_2021['Sector'].replace('AR startup','AR',inplace =True)
data_df_2021['Sector'].replace('Augmented reality','AR',inplace =True)
data_df_2021['Sector'].replace('B2B Ecommerce','B2B E-commerce',inplace =True)
data_df_2021['Sector'].replace('B2B marketplace','B2B Marketplace',inplace =True)
data_df_2021['Sector'].replace('B2B startup','B2B',inplace =True)
data_df_2021['Sector'].replace('Biotechnology','BioTechnology',inplace =True)
data_df_2021['Sector'].replace('Blockchain startup','Blockchain',inplace =True)
data_df_2021['Sector'].replace('Computer software','Computer Software',inplace =True)
data_df_2021['Sector'].replace('Consumer goods','Consumer Goods',inplace =True)
data_df_2021['Sector'].replace('Consumer service','Consumer Services',inplace =True)
data_df_2021['Sector'].replace('Cryptocurrency','Crypto',inplace =True)
data_df_2021['Sector'].replace('D2C Business','D2C',inplace =True)
data_df_2021['Sector'].replace('D2C startup','D2C',inplace =True)
data_df_2021['Sector'].replace('Deep Tech','Deeptech',inplace =True)
data_df_2021['Sector'].replace('EV startup','EV',inplace =True)
data_df_2021['Sector'].replace('Environmental service','Environmental Services',inplace =True)
data_df_2021['Sector'].replace('Fashion and lifestyle','Fashion & Lifestyle',inplace =True)
data_df_2021['Sector'].replace('Femtech','FemTech',inplace =True)
data_df_2021['Sector'].replace('Food and Beverages','Food & Beverages',inplace =True)
data_df_2021['Sector'].replace('HR Tech','HRTech',inplace =True)
data_df_2021['Sector'].replace('Hauz Khas','Food & Beverages',inplace =True)
data_df_2021['Sector'].replace('Healtcare','HealthCare',inplace =True)
data_df_2021['Sector'].replace('Health care','HealthCare',inplace =True)
data_df_2021['Sector'].replace('Health, Wellness & Fitness','Health',inplace =True)
data_df_2021['Sector'].replace('Healthcare','HealthCare',inplace =True)
data_df_2021['Sector'].replace('Heathcare','HealthCare',inplace =True)
data_df_2021['Sector'].replace('Healthtech','HealthTech',inplace =True)
data_df_2021['Sector'].replace('HeathTech','HealthTech',inplace =True)
data_df_2021['Sector'].replace('IT company','IT',inplace =True)
data_df_2021['Sector'].replace('IT startup','IT',inplace =True)
data_df_2021['Sector'].replace('Information Technology','IT',inplace =True)
data_df_2021['Sector'].replace('Innovation management','Innovation Management',inplace =True)
data_df_2021['Sector'].replace('Insuretech','InsureTech',inplace =True)
data_df_2021['Sector'].replace('Legaltech','LegalTech',inplace =True)
data_df_2021['Sector'].replace('Manchester, Greater Manchester','Information Technology & Services',inplace =True)
data_df_2021['Sector'].replace('Mechanical Or Industrial Engineering','Mechanical & Industrial Engineering',inplace =True)
data_df_2021['Sector'].replace('MoEVing is India\'s only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.','EV',inplace =True)
data_df_2021['Sector'].replace('Oil and Energy','Oil & Energy',inplace =True)
data_df_2021['Sector'].replace('Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.','HealthCare',inplace =True)
data_df_2021['Sector'].replace('Real estate','Real Estate',inplace =True)
data_df_2021['Sector'].replace('SaaS startup','SaaS',inplace =True)
data_df_2021['Sector'].replace('Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience','Online Media',inplace =True)
data_df_2021['Sector'].replace('Social media','Social Media',inplace =True)
data_df_2021['Sector'].replace('Software Startup','Software',inplace =True)
data_df_2021['Sector'].replace('Software company','Software',inplace =True)
data_df_2021['Sector'].replace('Sports startup','Sports',inplace =True)
data_df_2021['Sector'].replace('Tech startup','Tech Startup',inplace =True)
data_df_2021['Sector'].replace('Telecommuncation','Telecommunications',inplace =True)
data_df_2021['Sector'].replace('sports','Sports',inplace =True)

In [95]:
data_df_2021['Amount'].value_counts().sort_index()

Amount
$                  2
$$1,55,000         1
$$100,00           1
$1,000,000        33
$1,000,000,000     1
                  ..
Seed               2
Series C           1
Undisclosed       43
Upsparks           1
ah! Ventures       1
Name: count, Length: 278, dtype: int64

In [96]:
# Replace Values

data_df_2021['Amount'].replace("[,$J]", "", inplace = True, regex=True)

In [97]:
data_df_2021[data_df_2021['Amount']=='ITO Angel Network LetsVenture']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employee Tacit Knowledge and enabling Peer Learning Networks,ITO Angel Network LetsVenture,$300000,2021
677,Saarthi Pedagogy,Ahmadabad,EdTech,"India's fastest growing Pedagogy company, serving to school as an academic growth partner and provide 360° solutions to schools on Academic Strategies",ITO Angel Network LetsVenture,$1000000,2021

In [98]:
# Replace individual rows in Amount column

data_df_2021.at[551, 'Amount'] = '300000'
data_df_2021.at[677, 'Amount'] = '1000000'

In [99]:
data_df_2021[data_df_2021['Amount']=='Pre-series A']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
545,AdmitKard,Noida,EdTech,A tech solution for end to end career advisory to students looking to study abroad.,Pre-series A,NaN,2021

In [100]:
data_df_2021[data_df_2021['Amount']=='Seed']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
257,MoEVing,Gurugram,EV,"Vikash Mishra, Mragank Jain",Seed,NaN,2021
1148,Godamwale,Mumbai,Logistics & Supply Chain,Godamwale is tech enabled integrated logistics company providing end to end supply chain solutions.,Seed,NaN,2021

In [101]:
data_df_2021[data_df_2021['Amount']=='Series C']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
242,Fullife Healthcare,NaN,HealthCare,Varun Khanna,Series C,NaN,2021

In [102]:
data_df_2021[data_df_2021['Amount']=='Upsparks']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,NaN,Computer Games,A real money game app specializing in trivia games,Upsparks,$1200000,2021

In [103]:
data_df_2021[data_df_2021['Amount']=='ah! Ventures']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
538,Little Leap,New Delhi,EdTech,Soft Skills that make Smart Leaders,ah! Ventures,$300000,2021

In [104]:
data_df_2021['Amount'].replace('', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Pre-series A', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Seed', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Series C', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Undisclosed', np.nan, inplace = True, regex=True)
data_df_2021['Amount'].replace('Upsparks', '1200000', inplace = True, regex=True)
data_df_2021['Amount'].replace('ah! Ventures', '300000', inplace = True, regex=True)
data_df_2021['Amount'].replace('undisclosed', np.nan, inplace = True, regex=True)

In [105]:
data_df_2021['Amount'].unique()

array(['1200000', '120000000', '30000000', '51000000', '2000000',
       '188000000', '200000', nan, '1000000', '3000000', '100000',
       '700000', '9000000', '40000000', '49000000', '400000', '300000',
       '25000000', '160000000', '150000', '1800000', '5000000', '850000',
       '53000000', '500000', '1100000', '6000000', '800000', '10000000',
       '21000000', '7500000', '26000000', '7400000', '1500000', '600000',
       '800000000', '17000000', '3500000', '15000000', '215000000',
       '2500000', '350000000', '5500000', '83000000', '110000000',
       '500000000', '65000000', '150000000000', '300000000', '2200000',
       '35000000', '140000000', '4000000', '13000000', '9500000',
       '8000000', '12000000', '1700000', '150000000', '100000000',
       '225000000', '6700000', '1300000', '20000000', '250000',
       '52000000', '3800000', '17500000', '42000000', '2300000',
       '7000000', '450000000', '28000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '50000000', '4900000', '145000000', '22000000', '70000000',
       '6600000', '32000000', '24000000', '725000', '461000', '96000000',
       '60000000', '266000000', '4500000', '325000000', '6500000',
       '1600000', '225000', '85000000', '235000', '260000', '2900000',
       '86000000', '130000', '10000', '111000000', '265000', '76000000',
       '75000000', '1000000000', '18000000', '350000', '95000000',
       '4100000', '5200000', '1400000', '2600000', '900000', '11000000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       '200000000', '36000000', '67000000', '10200000', '220000000',
       '108000000', '450000', '660000000', '45000000', '3200000',
       '370000', '48000000', '3600000', '192000000', '1900000',
       '41000000', '144000000', '270000000', '140000', '250000000',
       '320000', '4800000', '38000000', '125000', '64000000', '620000',
       '1250000', '400000000', '27000000', '234000000', '460000000',
       '13500000', '5100000', '195000000', '7300000', '6300000',
       '12500000', '16500000', '340000', '43000000', '3300000',
       '92000000', '135000000', '155000', '2100000', '840000000',
       '248000000', '4300000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '550000', '2700000', '4200000',
       '31000000', '540000', '14000000', '6200000', '750000', '23000000',
       '55000000'], dtype=object)

In [106]:
data_df_2021['Stage'].value_counts().sort_index()

Stage
$1000000           1
$1200000           1
$300000            2
$6000000           1
Bridge             2
Debt              27
Early seed         1
PE                 1
Pre-seed          47
Pre-series         2
Pre-series A     154
Pre-series A1      4
Pre-series B      10
Seed             241
Seed+              1
Seies A            1
Series A         125
Series A+          1
Series A2          1
Series B          49
Series B3          1
Series C          44
Series D          21
Series D1          1
Series E          17
Series F           6
Series F1          1
Series F2          1
Series G           2
Series H           2
Series I           1
Name: count, dtype: int64

In [107]:
data_df_2021['Stage'].replace("[$]", "", inplace = True, regex=True)

In [108]:
data_df_2021[data_df_2021['Stage']=='1200000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
98,FanPlay,NaN,Computer Games,A real money game app specializing in trivia games,1200000,1200000,2021

In [109]:
data_df_2021[data_df_2021['Stage']=='6000000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
674,MYRE Capital,Mumbai,Commercial Real Estate,Democratising Real Estate Ownership,NaN,6000000,2021

In [110]:
data_df_2021[data_df_2021['Stage']=='300000']

,Company_Brand,HeadQuarter,Sector,What_it_does,Amount,Stage,Year
538,Little Leap,New Delhi,EdTech,Soft Skills that make Smart Leaders,300000,300000,2021
551,BHyve,Mumbai,Human Resources,A Future of Work Platform for diffusing Employee Tacit Knowledge and enabling Peer Learning Networks,300000,300000,2021

In [111]:
# Replace the Values with NaN

data_df_2021['Stage'].replace('1000000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('1200000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('300000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('6000000', np.nan, inplace = True, regex=True)
data_df_2021['Stage'].replace('Seies A', 'Series A', inplace = True, regex=True)

In [112]:
data_df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1190 entries, 0 to 1208
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1190 non-null   object
 1   HeadQuarter    1185 non-null   object
 2   Sector         1190 non-null   object
 3   What_it_does   1190 non-null   object
 4   Amount         1044 non-null   object
 5   Stage          764 non-null    object
 6   Year           1190 non-null   int64
dtypes: int64(1), object(6)
memory usage: 106.7+ KB

In [113]:
data_df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1052 non-null   object
 1   HeadQuarter    958 non-null    object
 2   Sector         1039 non-null   object
 3   What it does   1052 non-null   object
 4   Amount($)      799 non-null    object
 5   Stage          590 non-null    object
 6   Year           1052 non-null   int64
dtypes: int64(1), object(6)
memory usage: 65.8+ KB

In [114]:
# Rename Columns to match other Data
data_df_2021.rename(columns = {'Company_Brand': 'Company/Brand', 'What_it_does': 'What it does',
                                'Amount': 'Amount($)'}, inplace=True)

In [115]:
#merge columns to match other data
data_new_2=pd.concat([data_df_2020,data_df_2021],ignore_index=True)

In [116]:
data_new_2.tail()

,Company/Brand,HeadQuarter,Sector,What it does,Amount($),Stage,Year
2237,Gigforce,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,3000000,Pre-series A,2021
2238,Vahdam,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically integrated online-first tea brands.,20000000,Series D,2021
2239,Leap Finance,Bangalore,Financial Services,International education loans for high potential students.,55000000,Series C,2021
2240,CollegeDekho,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",26000000,Series B,2021
2241,WeRize,Bangalore,Financial Services,India’s first socially distributed full stack financial services platform for small town India,8000000,Series A,2021

In [117]:
data_new_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2242 entries, 0 to 2241
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2242 non-null   object
 1   HeadQuarter    2143 non-null   object
 2   Sector         2229 non-null   object
 3   What it does   2242 non-null   object
 4   Amount($)      1843 non-null   object
 5   Stage          1354 non-null   object
 6   Year           2242 non-null   int64
dtypes: int64(1), object(6)
memory usage: 122.7+ KB

In [118]:
# Merge all tables together into 1 DataFrame

Final_Startup_Data = pd.concat([data_new, data_new_2], ignore_index=True)

### Final Data set
Understanding, cleaning and preprocessing Final merged dataset

Check for duplicates

Deal with missing data

Check and refine column datatypes

Any other custom rule based checks

In [119]:
Final_Startup_Data.tail()

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
2851,Gigforce,Staffing & Recruiting,Pre-series A,Gurugram,A gig/on-demand staffing company.,3000000,2021
2852,Vahdam,Food & Beverages,Series D,New Delhi,VAHDAM is among the world’s first vertically integrated online-first tea brands.,20000000,2021
2853,Leap Finance,Financial Services,Series C,Bangalore,International education loans for high potential students.,55000000,2021
2854,CollegeDekho,EdTech,Series B,Gurugram,"Collegedekho.com is Student’s Partner, Friend & Confidante, To Help Him Take a Decision and Move On to His Career Goals.",26000000,2021
2855,WeRize,Financial Services,Series A,Bangalore,India’s first socially distributed full stack financial services platform for small town India,8000000,2021

In [120]:
Final_Startup_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2856 entries, 0 to 2855
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2856 non-null   object
 1   Sector         2838 non-null   object
 2   Stage          1882 non-null   object
 3   HeadQuarter    2738 non-null   object
 4   What it does   2856 non-null   object
 5   Amount($)      2297 non-null   object
 6   Year           2856 non-null   int64
dtypes: int64(1), object(6)
memory usage: 156.3+ KB

In [121]:
#Check for duplicates 
Final_Startup_Data.duplicated().sum()

3

In [122]:
Final_Startup_Data[Final_Startup_Data.duplicated(keep=False)]

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
827,Genius Teacher,EdTech,NaN,Mumbai,"Genius Teacher creates engaging educational content, delivers fun learning experience to the students",2000000.0,2020
845,Genius Teacher,EdTech,NaN,Mumbai,"Genius Teacher creates engaging educational content, delivers fun learning experience to the students",2000000.0,2020
1546,Byju,EdTech,NaN,NaN,Provides online learning classes,200000000.0,2020
1646,Byju,EdTech,NaN,NaN,Provides online learning classes,200000000.0,2020
1998,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings platform.,1000000,2021
2063,Siply,FinTech,Seed,Bangalore,Siply Services operates as a micro-savings platform.,1000000,2021

In [123]:
Final_Startup_Data.drop_duplicates(inplace=True,ignore_index=True)

In [124]:
# Change dtypes

Final_Startup_Data['Amount($)']=Final_Startup_Data['Amount($)'].astype(float)
Final_Startup_Data['Year']=Final_Startup_Data['Year'].astype(str)

In [125]:
Final_Startup_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2853 entries, 0 to 2852
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2853 non-null   object
 1   Sector         2835 non-null   object
 2   Stage          1881 non-null   object
 3   HeadQuarter    2736 non-null   object
 4   What it does   2853 non-null   object
 5   Amount($)      2294 non-null   float64
 6   Year           2853 non-null   object
dtypes: float64(1), object(6)
memory usage: 156.2+ KB

In [126]:
# Check for duplicates

Final_Startup_Data.duplicated().sum()

0

In [127]:
# show all occurences of duplicated rows

Final_Startup_Data[Final_Startup_Data.duplicated(keep=False)]

Empty DataFrame
Columns: [Company/Brand, Sector, Stage, HeadQuarter, What it does, Amount($), Year]
Index: []

In [128]:
Final_Startup_Data.drop_duplicates(inplace = True, ignore_index=True)

In [129]:
# Change dtypes

Final_Startup_Data['Amount($)']=Final_Startup_Data['Amount($)'].astype(float)
Final_Startup_Data['Year']=Final_Startup_Data['Year'].astype(str)

In [130]:
Final_Startup_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2853 entries, 0 to 2852
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2853 non-null   object
 1   Sector         2835 non-null   object
 2   Stage          1881 non-null   object
 3   HeadQuarter    2736 non-null   object
 4   What it does   2853 non-null   object
 5   Amount($)      2294 non-null   float64
 6   Year           2853 non-null   object
dtypes: float64(1), object(6)
memory usage: 156.2+ KB

In [131]:
Final_Startup_Data['Stage'].value_counts().sort_index()

Stage
Angel                     37
Angel Round                4
Bridge                     8
Bridge Round               1
Corporate Round            8
Debt                      45
Debt Financing            13
Early seed                 1
Edge                       1
Fresh funding              1
Funding Round              1
Grant                      4
Mid series                 1
Non-equity Assistance      1
PE                         1
Post series A              1
Post-IPO Debt              2
Post-IPO Equity            3
Pre Series A             120
Pre Series B               8
Pre Series C               3
Pre seed Round             5
Pre series A               8
Pre series A1              1
Pre-Seed                  19
Pre-seed                  47
Pre-seed Round             2
Pre-series                 3
Pre-series A             155
Pre-series A1              4
Pre-series B              10
Private Equity            10
Secondary Market           3
Seed                     682
Seed Round & Series A      1
Seed fund                  1
Seed funding               1
Seed round                 1
Seed+                      1
Series A                 305
Series A+                  1
Series A-1                 1
Series A2                  1
Series B                 134
Series B+                  1
Series B2                  2
Series B3                  1
Series C                 113
Series C, D                1
Series D                  50
Series D1                  2
Series E                  29
Series E2                  1
Series F                  11
Series F1                  1
Series F2                  1
Series G                   3
Series H                   4
Series I                   1
Name: count, dtype: int64

In [132]:
# Fix structural errors

Final_Startup_Data['Stage'].replace('Angel Round','Angel',inplace =True)
Final_Startup_Data['Stage'].replace('Debt Financing','Debt',inplace =True)
Final_Startup_Data['Stage'].replace('Pre Series A','Pre-series A',inplace =True)
Final_Startup_Data['Stage'].replace('Pre series A','Pre-series A',inplace =True)
Final_Startup_Data['Stage'].replace('Pre Series A1','Pre-series A1',inplace =True)
Final_Startup_Data['Stage'].replace('Pre Series B','Pre-series B',inplace =True)
Final_Startup_Data['Stage'].replace('Pre seed Round','Pre-seed',inplace =True)
Final_Startup_Data['Stage'].replace('Pre-Seed','Pre-seed',inplace =True)
Final_Startup_Data['Stage'].replace('Seed fund','Seed',inplace =True)
Final_Startup_Data['Stage'].replace('Seed funding','Seed',inplace =True)
Final_Startup_Data['Stage'].replace('Seed round','Seed',inplace =True)

In [133]:
Final_Startup_Data['Stage'].isna().sum()

972

In [134]:
Final_Startup_Data['Stage'].fillna('Undisclosed',inplace =True)

In [135]:
pd.set_option('display.max_rows', None)

Final_Startup_Data['Sector'].unique()

array(['Brand Marketing', 'Agriculture', 'Credit', 'Financial Services',
       'E-Commerce Platforms', 'Cloud Infrastructure', 'Internet',
       'Market Research', 'Information Services', 'Mobile Payments',
       'B2B', 'Apps', 'Food Delivery', 'Industrial Automation',
       'Automotive', 'Finance', 'Accounting', 'Artificial Intelligence',
       'Internet of Things', 'Air Transportation', 'Food and Beverage',
       'Autonomous Vehicles', 'Enterprise Software', 'Logistics',
       'Insurance', 'Information Technology', 'Blockchain', 'Education',
       'E-Commerce', 'Renewable Energy', 'E-Learning', 'Clean Energy',
       'Transportation', 'Fitness', 'Hospitality',
       'Media and Entertainment', 'Broadcasting', 'EdTech', 'Health Care',
       '—', 'Sports', 'Big Data', 'Cloud Computing', 'Food Processing',
       'Trading Platform', 'Consumer Goods', 'Fashion', 'Consulting',
       'Biotechnology', 'Communities', 'Consumer',
       'Consumer Applications', 'Mobile', 'Advertising', 'Marketplace',
       'Aerospace', 'Home Decor', 'Energy', 'Digital Marketing',
       'Creative Agency', 'Consumer Lending', 'Health Diagnostics',
       'Banking', 'Embedded Systems', 'Beauty', 'AgTech', 'Credit Cards',
       'Software', 'Manufacturing', 'Hospital', 'Events', '3D Printing',
       'Digital Entertainment', 'Funding Platform', 'Classifieds',
       'Enterprise Resource Planning (ERP)', 'Audio', 'Government',
       'Digital Media', 'Business Intelligence', 'Children', 'Rental',
       'Travel', 'Wealth Management', 'Veterinary', 'Tourism',
       'Consumer Electronics', 'Analytics', 'Facilities Support Services',
       'Medical', 'Music Streaming', 'Retail', 'Business Development',
       'Human Resources', 'Customer Service', 'Training',
       'Dietary Supplements', 'Collaboration', 'Nanotechnology',
       'File Sharing', 'Crowdfunding', 'Computer', 'Delivery',
       'Environmental Consulting', 'Commercial Real Estate',
       'Delivery Service', 'Fraud Detection', 'Cryptocurrency', 'Wedding',
       'Farming', 'Business Travel', 'Career Planning', 'Medical Device',
       'Alternative Medicine', 'Dental', 'CleanTech', 'Marketing',
       'Commercial', 'Continuing Education', 'Smart Cities',
       'Social Media', 'Biopharma', 'Child Care', 'Health Insurance',
       'Gaming', 'Search Engine', 'Battery', 'Cosmetics', 'eSports',
       'Reading Apps', 'Electric Vehicle', 'Packaging Services',
       'Last Mile Transportation', 'FinTech', 'Online Games',
       'Online Portals', 'Music', 'News', 'Industrial', 'Dating',
       'Fantasy Sports', 'Eyewear', 'Ecommerce', 'Edtech',
       'Interior design', 'AgriTech', 'Technology', 'SaaS', 'AI & Tech',
       'E-commerce', 'E-commerce & AR', 'Fintech', 'HR tech', 'Food tech',
       'Health', 'Healthcare', 'Safety tech', 'Pharmaceutical',
       'Insurance technology', 'AI', 'Foodtech', 'Food', 'IoT',
       'E-marketplace', 'Robotics & AI', 'Food & Nutrition', nan,
       'E-Sports', 'Jewellery', 'B2B Supply Chain', 'Games',
       'Food & tech', 'Accomodation', 'Automotive tech', 'Legal tech',
       'Mutual Funds', 'Cybersecurity', 'Automobile', 'Healthtech',
       'Yoga & wellness', 'Virtual Banking', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech',
       'Automobile & Technology', 'Hygiene management', 'Escrow',
       'Networking platform', 'Crowdsourcing', 'Food & Bevarages',
       'HealthTech', 'Fashion startup', 'Food Industry',
       'Virtual auditing startup', 'Work fulfillment',
       'Telecommunication', 'Tech Startup', 'Medtech', 'Tyre management',
       'Cloud company', 'Software Company', 'Venture capitalist',
       'Renewable player', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working', 'Finance company',
       'Solar Monitoring Company', 'Video sharing platform',
       'Gaming startup', 'Video streaming platform',
       'Consumer appliances', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Dairy startup', 'Content management', 'SpaceTech',
       'Trading platform', 'Photonics startup', 'Entertainment',
       'Scanning app', 'Skincare startup', 'Food and Beverages',
       'Biotech', 'FoodTech', 'Proptech', 'Fitness startup',
       'PaaS startup', 'Beverage', 'Deeptech', 'EV startup', 'AR/VR',
       'Recruitment startup', 'QSR startup', 'Video platform',
       'Fertility tech', 'Luxury car startup', 'FM', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'Sales and marketing',
       'LegalTech', 'Car Service', 'Bike marketplace', 'AR platform',
       'Content Marktplace', 'Interior Design', 'Rental space',
       'Soil-Tech', 'Ayurveda tech', 'Packaging solution startup',
       'Cleantech', 'Sanitation solutions', 'HealthCare', 'Home Design',
       'InsureTech', 'Solar Solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Venture capital',
       'Entreprenurship', 'Food delivery', 'Warehouse',
       'Online financial service', 'Eyeglasses', 'Battery design',
       'Online credit management startup', 'TravelTech',
       'Startup laboratory', 'Personal care startup',
       'Customer service company', 'SaaS\xa0\xa0startup',
       'Marketing startup', 'Service industry', 'AR startup',
       'Automotive company', 'Food Startup', 'Car Trade', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'API platform',
       'Electricity', 'FMCG', 'Insurance Tech', 'Video personalization',
       'Biomaterial startup', 'IT', 'Craft Beer', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Healthcare/Edtech', 'Social Commerce', 'Mobility tech',
       'Social e-commerce', 'Food & Logistics', 'Nutrition Tech', 'HR',
       'Appliance', 'Mental Health', 'B2B marketplace', 'Fashion Tech',
       'Health & Wellness', 'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear',
       'Digital tech', 'Data Intelligence', 'Co-living',
       'Food & Beverages', 'Defense tech', 'Construction tech',
       'Nutrition', 'Micro-mobiity', 'Auto-tech', 'Robotics', 'Logitech',
       'Med Tech', 'Life sciences', 'Retail Aggregator', 'Deep Tech AI',
       'HrTech', 'Mobility/Transport', 'AI & Debt', 'SaaS/Edtech',
       'Transport', 'Legal', 'Supply chain', 'Pharma',
       'Foodtech & Logistics', 'Housing', 'Data Analytics',
       'Investment Tech', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Health and Fitness', 'Interior & decor',
       'eMobility', 'Automation tech', 'Media & Networking', 'E-market',
       'AI & Data science', 'Automotive and Rentals', 'E-tail',
       'AI & Media', 'Machine Learning', 'Visual Media', 'Hygiene',
       'VR & SaaS', 'Sales & Services', 'AI & Deep learning',
       'Housing & Rentals', 'Estore', 'E tailor', 'E-mobility', 'Ad-tech',
       'Neo-banking', 'Transport Automation', 'Techonology',
       'AI Robotics', 'Preschool Daycare', 'B2B Agritech', 'E-connect',
       'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning', 'Taxation',
       'Automobile Technology', 'B2B E-commerce', 'Home services',
       'B2B service', 'Helathcare', 'Electronics', 'Aeorspace',
       'Oil & Energy', 'Telecommunications', 'Milk startup', 'AI Chatbot',
       'Fantasy sports', 'Video communication', 'Skill development',
       'Recruitment', 'Computer Games', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'SportsTech', 'HRTech',
       'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Lifestyle', 'Computer Software', 'Digital mortgage',
       'Information Technology & Services', 'Furniture',
       'B2B Marketplace', 'Tobacco', 'MLOps platform', 'Venture Capital',
       'Pet care', 'Drone', 'Wholesale', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity', 'OTT',
       'Education Management', 'Computer & Network Security',
       'Capital Markets', 'Social network', 'Hospital & Health Care',
       'EV', 'Mobility', 'Digital platform', 'Online Media',
       'Mobile Games', 'Food Production', 'Podcast', 'Content publishing',
       'Water purification', 'Content commerce', 'Innovation Management',
       'Celebrity Engagement', 'Personal Care', 'Cannabis startup',
       'Blogging', 'BioTechnology', 'Social audio', 'Fashion & Lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Solar', 'TaaS startup',
       'Beverages', 'Manufacturing startup', 'Crypto',
       'Vehicle repair startup', 'Advisory firm',
       'Pollution control equiptment', 'D2C', 'Environmental Services',
       'Merchandise', 'Facilities Services', 'Marketing & Advertising',
       'NFT Marketplace', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'Job discovery platform', 'D2C Fashion', 'CRM',
       'Community platform', 'Networking', 'AR', 'MarTech',
       'Advertisement', 'Content creation', 'Bike Rental',
       'Beauty products', 'FemTech', 'Cultural', 'Supply chain platform',
       'Social platform', 'Matrimony', 'Clothing', 'IoT platform',
       'Commerce', 'Defense & Space', 'Business Supplies & Equipment',
       'NFT', 'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Equity Management',
       'Cloud kitchen', 'Community', 'Higher Education', 'D2C jewellery',
       'Sales and Distribution', 'Translation & Localization',
       'Investment Banking', 'Foootwear', 'Legal Services',
       'Arts & Crafts', 'Investment Management', 'Management Consulting',
       'Design', 'B2B Travel', 'Product studio', 'Aviation & Aerospace',
       'Staffing & Recruiting'], dtype=object)

In [136]:
# Fix structural errors

Final_Startup_Data['Sector'].replace('AI platform','AI Platform',inplace =True)
Final_Startup_Data['Sector'].replace('AR startup','AR',inplace =True)
Final_Startup_Data['Sector'].replace('AgriTech startup','AgriTech',inplace =True)
Final_Startup_Data['Sector'].replace('Artificial Intelligence','AI',inplace =True)
Final_Startup_Data['Sector'].replace('Automobile & Technology','Automobile Technology',inplace =True)
Final_Startup_Data['Sector'].replace('Advertisement','Advertising',inplace =True)
Final_Startup_Data['Sector'].replace('Aeorspace','Aerospace',inplace =True)
Final_Startup_Data['Sector'].replace('Aero company','Aerospace',inplace =True)
Final_Startup_Data['Sector'].replace('AgriTech/Commerce','AgriTech',inplace =True)
Final_Startup_Data['Sector'].replace('B2B marketplace','B2B Marketplace',inplace =True)
Final_Startup_Data['Sector'].replace('Beverage','Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Beveragesss','Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Beveragessss','Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Biotech','BioTechnology',inplace =True)
Final_Startup_Data['Sector'].replace('Biotechnologynologynology','BioTechnology',inplace =True)
Final_Startup_Data['Sector'].replace('Biotechnologynologynologynology','BioTechnology',inplace =True)
Final_Startup_Data['Sector'].replace('Cleantech','CleanTech',inplace =True)
Final_Startup_Data['Sector'].replace('Cloud kitchen','Cloud Kitchen',inplace =True)
Final_Startup_Data['Sector'].replace('Consultancy','Consulting',inplace =True)
Final_Startup_Data['Sector'].replace('Crowdsourcing','Crowdfunding',inplace =True)
Final_Startup_Data['Sector'].replace('Cryptocurrency','Crypto',inplace =True)
Final_Startup_Data['Sector'].replace('Customer service company','Customer Service',inplace =True)
Final_Startup_Data['Sector'].replace('Customer service company','Customer Service',inplace =True)
Final_Startup_Data['Sector'].replace('Dairy startup','Dairy',inplace =True)
Final_Startup_Data['Sector'].replace('Dating','Dating app',inplace =True)
Final_Startup_Data['Sector'].replace('Dating app app app','Dating app',inplace =True)
Final_Startup_Data['Sector'].replace('Dating app app app app','Dating app',inplace =True)
Final_Startup_Data['Sector'].replace('Deisgning','Designing',inplace =True)
Final_Startup_Data['Sector'].replace('Deeptech startup','Deeptech',inplace =True)
Final_Startup_Data['Sector'].replace('Delivery service','Delivery Service',inplace =True)
Final_Startup_Data['Sector'].replace('E-commerce','E-Commerce',inplace =True)
Final_Startup_Data['Sector'].replace('E-commerce','E-Commerce',inplace =True)
Final_Startup_Data['Sector'].replace('E-learning','E-Learning',inplace =True)
Final_Startup_Data['Sector'].replace('EV startup','EV',inplace =True)
Final_Startup_Data['Sector'].replace('EV startup startup','EV',inplace =True)
Final_Startup_Data['Sector'].replace('Ecommerce','E-Commerce',inplace =True)
Final_Startup_Data['Sector'].replace('Edtech','EdTech',inplace =True)
Final_Startup_Data['Sector'].replace('Electric Vehicle','EV',inplace =True)
Final_Startup_Data['Sector'].replace('Estore','E store',inplace =True)
Final_Startup_Data['Sector'].replace('Eyewear','Eye Wear',inplace =True)
Final_Startup_Data['Sector'].replace('Fashion startup','Fashion',inplace =True)
Final_Startup_Data['Sector'].replace('Finance company','Finance',inplace =True)
Final_Startup_Data['Sector'].replace('Fintech','FinTech',inplace =True)
Final_Startup_Data['Sector'].replace('Fitness startup','Fitness',inplace =True)
Final_Startup_Data['Sector'].replace('Food & Bevarages','Food & Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Food & Beverage','Food & Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Food and Beverage','Food & Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Food & Beveragessssss','Food & Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Food & Beveragesssssss','Food & Beverages',inplace =True)
Final_Startup_Data['Sector'].replace('Food tech','FoodTech',inplace =True)
Final_Startup_Data['Sector'].replace('Foodtech','FoodTech',inplace =True)
Final_Startup_Data['Sector'].replace('Food & tech','FoodTech',inplace =True)
Final_Startup_Data['Sector'].replace('Food delivery','Food Delivery',inplace =True)
Final_Startup_Data['Sector'].replace('Food Startup','Food',inplace =True)
Final_Startup_Data['Sector'].replace('Gaming startup','Gaming',inplace =True)
Final_Startup_Data['Sector'].replace('HR tech','HRTech',inplace =True)
Final_Startup_Data['Sector'].replace('HR Tech','HRTech',inplace =True)
Final_Startup_Data['Sector'].replace('HealthCare','Health Care',inplace =True)
Final_Startup_Data['Sector'].replace('Healthcare','Health Care',inplace =True)
Final_Startup_Data['Sector'].replace('Helathcare','Health Care',inplace =True)
Final_Startup_Data['Sector'].replace('Health Care/EdTech','Health Care',inplace =True)
Final_Startup_Data['Sector'].replace('Healthtech','HealthTech',inplace =True)
Final_Startup_Data['Sector'].replace('HrTech','HRTech',inplace =True)
Final_Startup_Data['Sector'].replace('InsureTech','Insurance Tech',inplace =True)
Final_Startup_Data['Sector'].replace('Insurance technology','Insurance Tech',inplace =True)
Final_Startup_Data['Sector'].replace('Interior design','Interior Design',inplace =True)
Final_Startup_Data['Sector'].replace('Internet of Things','IoT',inplace =True)
Final_Startup_Data['Sector'].replace('Information Technology','IT',inplace =True)
Final_Startup_Data['Sector'].replace('Jewellery startup','Jewellery',inplace =True)
Final_Startup_Data['Sector'].replace('Job discovery platform','Job portal',inplace =True)
Final_Startup_Data['Sector'].replace('Legal tech','LegalTech',inplace =True)
Final_Startup_Data['Sector'].replace('Manufacturing startup','Manufacturing',inplace =True)
Final_Startup_Data['Sector'].replace('Marketing startup','Marketing',inplace =True)
Final_Startup_Data['Sector'].replace('Marketing company','Marketing',inplace =True)
Final_Startup_Data['Sector'].replace('Medtech','Med Tech',inplace =True)
Final_Startup_Data['Sector'].replace('Nutrition sector','Nutrition',inplace =True)
Final_Startup_Data['Sector'].replace('Personal care startup','Personal Care',inplace =True)
Final_Startup_Data['Sector'].replace('Pharma','Pharmaceutical',inplace =True)
Final_Startup_Data['Sector'].replace('Primary Business is Development and Manufacturing of Novel HealthCare Products in Effervescent forms using imported propriety ingredients.','Pharmaceutical',inplace =True)
Final_Startup_Data['Sector'].replace('Pharmaceuticalceuticalceutical','Pharmaceutical',inplace =True)
Final_Startup_Data['Sector'].replace('Pharmaceuticalceuticalceuticalceutical','Pharmaceutical',inplace =True)
Final_Startup_Data['Sector'].replace('Pharmaceuticalceuticalceuticalcy','Pharmaceutical',inplace =True)
Final_Startup_Data['Sector'].replace('Recruitment startup','Recruitment',inplace =True)
Final_Startup_Data['Sector'].replace('Retail startup','Retail',inplace =True)
Final_Startup_Data['Sector'].replace('SaaS  startup','SaaS',inplace =True)
Final_Startup_Data['Sector'].replace('SaaS/EdTech','SaaS',inplace =True)
Final_Startup_Data['Sector'].replace('Social commerce','Social Commerce',inplace =True)
Final_Startup_Data['Sector'].replace('Software Company','Software',inplace =True)
Final_Startup_Data['Sector'].replace('Supply chain, AgriTech','Supply chain platform',inplace =True)
Final_Startup_Data['Sector'].replace('Tech Startup','Tech',inplace =True)
Final_Startup_Data['Sector'].replace('Techonology','Technology',inplace =True)
Final_Startup_Data['Sector'].replace('Telecommunication','Telecommunications',inplace =True)
Final_Startup_Data['Sector'].replace('Telecommunicationsss','Telecommunications',inplace =True)
Final_Startup_Data['Sector'].replace('Telecommunicationssss','Telecommunications',inplace =True)
Final_Startup_Data['Sector'].replace('Trading platform','Trading Platform',inplace =True)
Final_Startup_Data['Sector'].replace('Transportation','Transport',inplace =True)
Final_Startup_Data['Sector'].replace('Venture capital','Venture Capital',inplace =True)
Final_Startup_Data['Sector'].replace('Venture capitalist','Venture Capital',inplace =True)

In [137]:
Final_Startup_Data['Sector'].value_counts().sort_index()

Sector
3D Printing                              1
AI                                      61
AI & Data science                        1
AI & Debt                                1
AI & Deep learning                       1
AI & Media                               1
AI & Tech                                1
AI Chatbot                               1
AI Platform                              2
AI Robotics                              1
AI health                                1
API platform                             1
AR                                       3
AR platform                              1
AR/VR                                    2
Accomodation                             4
Accounting                               3
Ad-tech                                  1
Advertising                              5
Advisory firm                            1
Aerospace                                4
AgTech                                   1
AgriTech                                65
Agriculture                              9
Air Transportation                       1
Alternative Medicine                     1
Analytics                                5
Apparel & Fashion                        7
Appliance                                1
Apps                                    21
Arts & Crafts                            2
Audio                                    1
Auto-tech                                1
Automation                               4
Automation tech                          1
Automobile                              14
Automobile Technology                    2
Automotive                              53
Automotive and Rentals                   3
Automotive company                       2
Automotive tech                          3
Autonomous Vehicles                      2
Aviation                                 1
Aviation & Aerospace                     1
Ayurveda tech                            1
B2B                                     17
B2B Agritech                             2
B2B E-commerce                           4
B2B Manufacturing                        1
B2B Marketplace                          4
B2B Supply Chain                         1
B2B Travel                               1
B2B service                              3
Banking                                 11
Battery                                  2
Battery design                           1
Battery manufacturer                     1
Beauty                                   5
Beauty & wellness                        1
Beauty products                          2
Beverages                                9
Big Data                                 5
Bike Rental                              1
Bike marketplace                         1
BioTechnology                           13
Biomaterial startup                      1
Biopharma                                2
Biotechnology                            7
Blockchain                               8
Blogging                                 1
Brand Marketing                          1
Broadcasting                             1
Business Development                     1
Business Intelligence                    1
Business Supplies & Equipment            1
Business Travel                          1
CRM                                      1
Cannabis startup                         1
Capital Markets                          1
Car Service                              2
Car Trade                                1
Career Planning                          2
Celebrity Engagement                     1
Child Care                               2
Children                                 2
Classifieds                              1
Clean Energy                             1
CleanTech                                6
Clothing                                 1
Cloud Computing                          4
Cloud Infrastructure                     1
Cloud Kitchen                            2
Cloud company                            1
Co-living                                1
Co-working                               5
Collaboration                            2
Commerce                                 1
Commercial                               1
Commercial Real Estate                   2
Communities                              2
Community                                1
Community platform                       1
Company-as-a-Service                     1
Computer                                 3
Computer & Network Security              1
Computer Games                           3
Computer Software                       31
Construction                             6
Construction tech                        1
Consulting                              10
Consumer                                 3
Consumer Applications                    1
Consumer Electronics                     7
Consumer Goods                          29
Consumer Lending                         4
Consumer Services                        7
Consumer appliances                      1
Consumer software                        1
Content Marktplace                       2
Content commerce                         1
Content creation                         1
Content management                       1
Content publishing                       1
Continuing Education                     1
Conversational AI platform               1
Cosmetics                               13
Craft Beer                               1
Creative Agency                          1
Credit                                   5
Credit Cards                             2
Crowdfunding                             5
Crypto                                   6
Cultural                                 1
Customer Service                         4
Cybersecurity                            1
D2C                                      5
D2C Fashion                              2
D2C jewellery                            1
Dairy                                    3
Data Analytics                           1
Data Intelligence                        1
Data Science                             1
Dating app                               5
Deep Tech AI                             1
Deeptech                                11
Defense & Space                          1
Defense tech                             1
Delivery                                 3
Delivery Service                         4
Dental                                   1
Design                                   2
Designing                                1
Dietary Supplements                      1
Digital Entertainment                    4
Digital Marketing                        1
Digital Media                           10
Digital mortgage                         1
Digital platform                         1
Digital tech                             1
Drone                                    3
E store                                  2
E tailor                                 1
E-Commerce                             118
E-Commerce Platforms                     1
E-Learning                              36
E-Sports                                 1
E-commerce & AR                          1
E-connect                                1
E-market                                 3
E-marketplace                            2
E-mobility                               2
E-tail                                   1
EV                                      10
EdTech                                 224
Education                               15
Education Management                     3
Electricity                              1
Electronics                              3
Embedded Systems                         1
Energy                                   5
Enterprise Resource Planning (ERP)       1
Enterprise Software                      1
Entertainment                           16
Entreprenurship                          1
Environmental Consulting                 1
Environmental Services                   2
Equity Management                        1
Escrow                                   1
Events                                   1
Eye Wear                                 4
Eyeglasses                               1
FM                                       1
FMCG                                     4
Facilities Services                      1
Facilities Support Services              1
Fantasy Sports                           1
Fantasy sports                           1
Farming                                  6
Fashion                                 21
Fashion & Lifestyle                      3
Fashion Tech                             1
FemTech                                  2
Fertility tech                           1
File Sharing                             1
FinTech                                258
Finance                                 30
Financial Services                      86
Fishery                                  1
Fitness                                 17
Food                                    16
Food & Beverages                        62
Food & Logistics                         1
Food & Nutrition                         1
Food Delivery                           11
Food Industry                            6
Food Processing                          2
Food Production                          3
Food and Beverages                       1
FoodTech                                23
Foodtech & Logistics                     1
Foootwear                                1
Fraud Detection                          1
Funding Platform                         1
Furniture                                4
Furniture Rental                         1
Fusion beverages                         1
Games                                    1
Gaming                                  41
Government                               1
HR                                       1
HRTech                                  12
Health                                  24
Health & Wellness                        3
Health Care                            106
Health Diagnostics                       2
Health Insurance                         1
Health and Fitness                       1
HealthTech                              62
Healthcare/Edtech                        1
Higher Education                         2
Home Decor                               3
Home Design                              2
Home interior services                   1
Home services                            2
Hospital                                 1
Hospital & Health Care                  12
Hospitality                             22
Housing                                  1
Housing & Rentals                        1
Housing Marketplace                      1
Human Resources                          9
Hygiene                                  1
Hygiene management                       1
IT                                      35
Industrial                               1
Industrial Automation                    8
Information Services                     7
Information Technology & Services       35
Infratech                                1
Innovation Management                    2
Insurance                               10
Insurance Tech                          17
Interior & decor                         1
Interior Design                          5
Internet                                17
Investment                               1
Investment Banking                       1
Investment Management                    2
Investment Tech                          1
IoT                                     15
IoT platform                             1
IoT/Automobile                           1
Jewellery                                3
Job portal                               4
Last Mile Transportation                 1
Legal                                    1
Legal Services                           1
LegalTech                                6
Life sciences                            1
Lifestyle                                2
Linguistic Spiritual                     1
Location Analytics                       2
Logistics                               37
Logistics & Supply Chain                17
Logitech                                 5
Luxury car startup                       1
MLOps platform                           1
Machine Learning                         1
Management Consulting                    1
Manufacturing                            6
MarTech                                  1
Maritime                                 1
Market Research                          2
Marketing                                7
Marketing & Advertising                  3
Marketing & Customer loyalty             1
Marketplace                              6
Matrimony                                1
Mechanical & Industrial Engineering      3
Med Tech                                 6
Media                                   27
Media & Networking                       1
Media Tech                               1
Media and Entertainment                  2
Medical                                  2
Medical Device                           1
Mental Health                            1
Merchandise                              1
Micro-mobiity                            1
Milk startup                             1
Mobile                                   3
Mobile Games                             1
Mobile Payments                          2
Mobility                                 7
Mobility tech                            1
Mobility/Transport                       1
Multinational conglomerate company       1
Music                                    4
Music Streaming                          1
Mutual Funds                             1
NFT                                      2
NFT Marketplace                          1
Nano Distribution Network                1
Nanotechnology                           2
Neo-banking                              1
Networking                               1
Networking platform                      1
News                                     1
Nutrition                                4
Nutrition Tech                           2
OTT                                      1
Oil & Energy                             2
Online Games                             1
Online Media                             5
Online Portals                           1
Online credit management startup         1
Online financial service                 1
Online storytelling                      1
PaaS startup                             1
Packaging Services                       1
Packaging solution startup               1
Personal Care                            2
Pet care                                 2
Pharmaceutical                           4
Pharmacy                                 1
Photonics startup                        1
Podcast                                  1
Pollution control equiptment             1
Preschool Daycare                        1
Product studio                           1
Professional Training & Coaching         2
Proptech                                 3
Publication                              3
QSR startup                              1
Reading Apps                             1
Real Estate                             14
Recruitment                              7
Renewable Energy                         7
Renewable player                         1
Renewables & Environment                 3
Rental                                   7
Rental space                             3
Retail                                  29
Retail Aggregator                        1
Retail Tech                              2
Robotics                                 2
Robotics & AI                            1
SaaS                                    58
SaaS platform                            4
SaaS/Edtech                              1
SaaS  startup                            1
Safety tech                              1
Sales & Services                         1
Sales and Distribution                   1
Sales and marketing                      1
Sanitation solutions                     1
Scanning app                             1
Search Engine                            1
Service industry                         1
Skill development                        1
Skincare startup                         1
Smart Cities                             1
Social Commerce                          8
Social Media                            10
Social Network                           1
Social audio                             1
Social community                         1
Social e-commerce                        4
Social network                           2
Social platform                          1
Software                                12
Soil-Tech                                1
Solar                                    4
Solar Monitoring Company                 1
Solar SaaS                               1
Solar Solution                           2
SpaceTech                                8
Spiritual                                1
Sports                                  12
SportsTech                               3
Staffing & Recruiting                    1
Startup laboratory                       1
Supply chain                             1
Supply chain platform                    1
TaaS startup                             1
Taxation                                 1
Tech                                    57
Tech hub                                 1
Tech platform                            1
Technology                               8
Telecommunications                       4
Textiles                                 2
Tobacco                                  1
Tourism                                  4
Tourism & EV                             1
Trading Platform                         3
Training                                 1
Translation & Localization               1
Transport                               16
Transport & Rentals                      2
Transport Automation                     1
Travel                                   6
Travel & SaaS                            1
TravelTech                               3
Tyre management                          1
VR & SaaS                                1
Vehicle repair startup                   1
Venture Capital                          7
Venture Capital & Private Equity         2
Veterinary                               2
Video                                    1
Video communication                      1
Video personalization                    1
Video platform                           1
Video sharing platform                   1
Video streaming platform                 1
Virtual Banking                          1
Virtual auditing startup                 1
Visual Media                             1
WL & RAC protection                      1
Warehouse                                1
Water purification                       1
Wealth Management                        1
Wedding                                  1
Wholesale                                1
Wine & Spirits                           2
Work fulfillment                         1
Yoga & wellness                          3
eMobility                                1
eSports                                  1
—                                       30
Name: count, dtype: int64

In [138]:
Final_Startup_Data[Final_Startup_Data.isna().Sector]

,Company/Brand,Sector,Stage,HeadQuarter,What it does,Amount($),Year
566,VMate,NaN,Undisclosed,NaN,A short video platform,100000000.0,2019
574,Awign Enterprises,NaN,Series A,Bangalore,It supplies workforce to the economy,4000000.0,2019
577,TapChief,NaN,Pre-series A,Bangalore,It connects individuals in need of advice in a specific domain to individuals who have expertise in the same,1500000.0,2019
581,KredX,NaN,Series B,Bangalore,Invoice discounting platform,26000000.0,2019
582,m.Paani,NaN,Series A,Mumbai,It digitizes and organises local retailers,5500000.0,2019
1128,Text Mercato,NaN,Series A,Bangalore,Cataloguing startup that serves ecommerce platforms,649600.0,2020
1179,Magicpin,NaN,Series D,Gurugram,"It is a local discovery, rewards, and commerce platform",7000000.0,2020
1297,Leap Club,NaN,Pre-seed,Gurugram,Community led professional network for women,340000.0,2020
1309,Juicy Chemistry,NaN,Series A,NaN,It focuses on organic based skincare products,650000.0,2020
1317,Magicpin,NaN,Undisclosed,Gurugram,"It is a local discovery, rewards, and commerce platform",3879000.0,2020
1342,Servify,NaN,Undisclosed,Mumbai,It is a technology company which serves as a platform for brands to offer end-to-end solutions to their users,250000.0,2020
1356,Wagonfly,NaN,Undisclosed,Bangalore,Contactless shopping and delivery experience by using radio frequency to tag retail items,500000.0,2020
1373,DrinkPrime,NaN,Seed,Bangalore,Water purifier subscription service,NaN,2020
1419,Kitchens Centre,NaN,Seed,Delhi,Offers solutions to cloud kitchens by providing commercial space and kitchen infrastructure to assisting with branding and other services,500000.0,2020
1528,Innoviti,NaN,Undisclosed,Bangalore,Digital payments solutions company,5000000.0,2020
1536,Brick&Bolt,NaN,Pre-series A,Bangalore,Operates in the residential construction space,1500000.0,2020
1622,Toddle,NaN,Undisclosed,Bengaluru,Collaboration and productivity platform for teachers across the world,NaN,2020
1641,HaikuJAM,NaN,Undisclosed,NaN,Creative writing mobile platform,3400000.0,2020

In [139]:
# Delete rows where sector AND amount is missing

Final_Startup_Data.dropna(subset=['Sector', 'Amount($)'], how='all', inplace=True)

In [140]:
Final_Startup_Data['Sector'].fillna('Undisclosed',inplace =True)

In [141]:
Final_Startup_Data['HeadQuarter'].fillna('n/a',inplace =True)

In [142]:
#Replace null Amount values with average

average = Final_Startup_Data['Amount($)'].mean()
Final_Startup_Data['Amount($)']= Final_Startup_Data['Amount($)'].fillna(average)

In [143]:
Final_Startup_Data.isna().sum()

Company/Brand    0
Sector           0
Stage            0
HeadQuarter      0
What it does     0
Amount($)        0
Year             0
dtype: int64

In [144]:
##saving the data file
file_name = 'Final_Startup_Data.csv'  
Final_Startup_Data.to_csv(file_name, index=False)